body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 10px rgb(179, 174, 174) ;
    background: #f7f1eb;

}
#home{
    margin-top: 80px;
}
header a {
    text-decoration: none;
    color : black;
    font-weight: 700;
    letter-spacing: 1px;
}
.logo {
    font-size: 40px;
}
.navbar ul {
    display: flex;
    list-style: none;
}
.navbar ul li {
    margin-left: 50px;
}
.navbar ul li a {
    font-size: 20px;
}
.navbar ul li a:hover {
    color: orangered;
}
h1{
    font-size: 45px;
    font-weight: bolder;
    color: #575757;
    padding-top: 15%; 
}
h4{
    color: #828282;
    padding-bottom: 30px;
}
.highlight-color{
    color: rgb(255, 81, 0);
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 90%;
}
.flexible-container{
    display: flex;
}
.order-button{
    text-decoration: none;
    background-image: linear-gradient(to right, #FBA24F, #FF1E1E);
    padding: 20px 40px;
    border-radius: 40px;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
}
.about-area{
    background-image: url(images/shapes/7.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    
}
h2{
    color: #707070;
    padding-top: 5%;
    font-weight: 700;
    font-size: 35px;
}
.about-paragraph{
    padding-bottom: 10%;
    padding-right: 20%;
    color: #18191F;
    font-weight: bold;
}
.contact-me{
    text-decoration: none;
    background-image: linear-gradient(to right, #FBA24F, #FF1E1E);
    padding: 20px 40px;
    border-radius: 40px;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
}
.recipies{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
}
.recipies-Item{
    width: 25%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 3%;
    border-radius: 40px;
    padding: 30px 30px 0px 30px;
    
}
.recipies-Item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.extra-margin{
    margin-left: 10px;
}
h3{
    font-weight: 700;
}
.recipies-Item-paragraph{
    text-align: left;
    font-size: 14px;
}
.social-views {
    display: flex;
    margin: 100px 10% 100px 14%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 10px 10px 30px gray;
    border-radius: 30px;
    padding: 20px 250px;
    
}
.social-views h5 {
    color: gray;
    font-weight: 700;
    text-align: center;
}
footer{
    text-align: center;
    background-color: #0B0D17;
}
.copyright{
    color: orange;
    font-size: 12px;
    padding-bottom: 20px;
}